# Зависимости
node_modules/

# Сборка
dist/
.next/
out/

# Переменные окружения
.env
.env.local
.env.*.local

# Логи
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Кеш
*.tsbuildinfo

# Next.js
next-env.d.ts
